@import "./partials/variables";
@import 'loaders.css/src/animations/ball-clip-rotate.scss';

@import "./partials/base";
@import "./partials/forms";
@import "./partials/layout";
@import "./partials/typography";
@import "./partials/buttons";
@import "./partials/menu";