* {
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
  }
  
  #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: $font-primary;
    line-height: 1.6;
  }

    /*Loader from react loaders*/
.ball-clip-rotate > div {
  width: 150px;
  height: 150px;
}

.loaderContainer {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}